@import "tailwindcss";
body{
    margin: 0;padding: 0;
    height:100vh;
    width:100vw;
    overflow: hidden;
}
.backgro{
    background-image: url(images/bg\ image.jpg);
    background-position: center;
    background-size: cover;
}